html {
    width: 100%;
    letter-spacing: 0px;
}

body {
    width: 100%;
    position: relative;
    background-color: #eff2f8;
}

div,
li,
p,
section,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
strong,
em,
span,
input,
select {
    font-family: 'Nanum Gothic';
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

[hidden] {
    display: none;
}

button.no-style,
a.no-style,
a:link.no-style,
a:visited.no-style {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    box-shadow: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: #fff;
}

.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
}

.transition {
    transition: 0.375s;
}

#nav-without-section-name {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40pt;
    background-color: #D9483B;
    color: #fff;
}

#nav-without-section-name #basic-status {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#nav-without-section-name #basic-status > div{
    padding: 10pt;
}

#nav-without-section-name #basic-status button i {
    font-size: 20pt;
    color: #fff;
}

#nav-without-section-name #menu-list{
    display: none;
    opacity: 0;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}
#nav-without-section-name #menu-list.on{
    opacity: 1;
    left: 0;
}
#nav-without-section-name #menu-list #menu-wrapper{
    position: absolute;
    z-index: 500;
    background-color: #D9483B;
    top: 40pt;
    left: -100%;
    height: calc(100% - 40pt);
    max-width: 80%;
}
#nav-without-section-name #menu-list.on #menu-wrapper{
    left: 0;
}
#nav-without-section-name #menu-list #menu-wrapper ul{
    margin: 20pt 10pt 0 0;
}
#nav-without-section-name #menu-list #menu-wrapper li{
    margin: 10pt 10pt 0 0;
}
#nav-without-section-name #menu-list #menu-wrapper li a{
    display: block;
    text-align: left;
}
#nav-without-section-name #menu-list #background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 499;
    width: 100%;
    height: 100%;
    opacity: 0;
}
#nav-without-section-name #menu-list.on #background{
    opacity: 1;
    background-color: rgba(0,0,0,0.75);
}

.basic {
    width: calc(100% - 20pt);
    margin: 10pt 10pt auto 10pt;
}
.basic.half{
    width: calc(50% - 17pt);
    margin: 10pt auto auto 10pt;
}

input[type=email].basic,
input[type=password].basic,
input[type=text].basic,
input[type=tel].basic,
input[type=number].basic {
    border: none;
    background-color: #e3e3e3;
    height: 28pt;
    border-radius: 14pt;
    font-size: 12pt;
    padding: 14pt 12pt;
    letter-spacing: -1px;
}

select.basic{
    -webkit-appearance: none;  /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: #e3e3e3;
    height: 28pt;
    border-radius: 14pt;
    font-family: inherit;  /* 폰트 상속 */
    font-size: 12pt;
    padding: 0pt 12pt;
    box-shadow: none;
}

select.basic:before{
    position: absolute;
    top: 0;
    right : 0;
    content : 'a';
    color: #111;
}

button.basic{
    border: 1pt solid #edeff2;
    background-color: #fff;
    box-shadow: 0pt 0pt 8pt #e6e6e6;
    height: 28pt;
    border-radius: 14pt;
    font-size: 11pt;
    padding: 7pt 12pt;
    color: #111;
    letter-spacing: -1px;
}